.footerContainer{
    color: white;
    
}

.footerContainer{
    background-color: rgb(53, 69, 170) ;
    padding-top: 4em;
}

ul li{
    list-style: none;
}
 a{ color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: #FF4D6C;
}