div h1{
    width: 100%;
    text-align: right;
    padding-right: 3em;
    color: black;

}

div p{
    text-align: right;
    padding-right: 6em;
    font-size: 1.5em;
    color: black;
    
}

.hero-container{
    height: 70vh;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    
}

.subText{
    font-weight: 500;
    color: #FF4D6C;
}





@media screen and (max-width: 840px) {

    .hero-container{
     background-position: center bottom;
     background-size: contain;
     -webkit-background-size: contain;
     -moz-background-size: contain;
     -o-background-size: contain;
     
     
    }
    .hero-btns{
        padding-bottom: 3em;
    }
 
 }

 @media screen and (min-width: 841px) {

    .hero-container{
    height: 90vh;
     background-position: center bottom;
     background-size: auto;
     
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     
    }
    .subText{
        size: 100%;
        padding-right: 11em;
        font-size: 1.5em;

    }
    

    .bigText {
        font-size: 4em;
        
    }
 
 }


    
 
 

 h1{
    font-family: 'DM Sans';
 }