.innerCard{
    width: 50vw;
    height: 30em;
    /**background-color: rgb(255, 255, 255);**/
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    
    
    padding: 20px;

    border: 1px solid lightgrey;
    
    
}






.langCard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    
}

div p{
    padding: none;
    font-size: 1.1em;
}



.langCard {
    overflow: hidden;
  }
  
  .innerCard {
    
    transition: transform 0.3s;
  }
  
  .innerCard:hover {
    transform: scale(1.1);
  }

  @media screen and (max-width: 840px) {

    .innerCard {
        width: 100vw;
    }
    .langCard{
        width: 100vw;
    }

}