

.col-md-6{
  max-width: 50vw;
}
.new-line {
  white-space: pre-line;
}

.row{
  max-width: 100vw;
  padding: 0;
  margin: 0;
}
.emptySpace{
  background-color: navy;
}

.rowInner{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.headerWrapper{
  height: 20em;
  

}


.col-md-6{
  max-width: 50fr;
}

.wrapper{
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 3em;
}

.MandarinHeader{
  background-repeat: no-repeat;
  background-position: center;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.seperator{
  
  border-bottom: 2px solid lightgrey;
}

.sideImg{
  max-width: 50vw;
}
.homePic{
  
  max-width: 50vw;
  max-height: 50VH;
}




@media screen and (max-width: 840px) {

  .col-md-6{
    max-width: 100vw;
  }

}


